/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 *{
   margin: 0;
   padding: 0;
 }

 html{
   font-size: 16px;
 }

